 <div class="tab-pane fade show active" id="link11">

                        <div class="main-wraper">
                            <h4 class="main-title">News</h4>
                        </div>

                        <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Community Crunch 327: EVO Event, A Tribute to Uri, and More!</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            <div class="ipsClearfix">
	


      
		<section class="ipsType_richText ipsType_normal" data-controller="core.front.core.lightboxedImages"><p style="text-align: center;">
	<a href="https://cdn.survivetheark.com/uploads/monthly_2022_08/2032263764_urimemorialheader.png.9d4e02d9f89fa4a4c02b5602aa9ce800.png" title="Enlarge image" data-wrappedlink="" data-ipslightbox="" data-ipslightbox-group="undefined"><img alt="uri memorial header.png" class="ipsImage ipsImage_thumbnailed" data-fileid="163151" data-ratio="40.24" data-unique="2v4wd8bc4" width="840" src="https://cdn.survivetheark.com/uploads/monthly_2022_08/2032263764_urimemorialheader.png.9d4e02d9f89fa4a4c02b5602aa9ce800.png"></a></p>

<p>
	Greetings Survivors!
</p>

<p>
	Recently the ARK <abbr title="Player Vs Player"><abbr title="Player Vs Player">PvP</abbr></abbr> Community suffered the loss of a much-loved member, Uriel. He was a uniting force amid a varied group of players and multiple tribes. Uri endeared himself to everyone irrespective of their affiliation in <abbr title="Player Vs Player"><abbr title="Player Vs Player">PvP</abbr></abbr> due to his sweet and funny nature along with being known for his amusing dances on stream.
</p>

<p>
	Uri was someone who didn't allow his own adversities in life dim the good-natured light he shone and we'll all feel the absence of his warmth greatly.
</p>

<p>
	We’d like to honor Uri, his tribemates, and his friends by sharing the absolutely heartwarming outpouring of love for him that was shown when an unprecedented number of our Official <abbr title="Player Vs Player"><abbr title="Player Vs Player">PvP</abbr></abbr> players came together to memorialize him with in-game builds.
</p>

<p>
	We have <strong><a href="https://survivetheark.com/index.php?/gallery/album/3875-uri-tribute/" rel=""><span style="color:#ecf0f1;">collated pics of players’ memorial builds</span></a></strong>&nbsp;to share with the community. A nod to Skittle for traveling to servers to take high-quality screenshots for mourning players.
</p>

<p>
	<span style="color:#3498db;"><strong>A message for Uri from his tribemates and friends:&nbsp;</strong></span>
</p>

<p>
	<em>It is never easy to say goodbye to anyone we love, and it has been especially hard to accept the loss of our dearest friend, Uri. He reached out and touched the hearts of many around the world, whether it was being a tribe member, an entertainer through his streams, or an amazing friend. No matter what he was battling he remained selfless and put others' happiness before his own. It is rare to meet people like that, especially on the internet. Going forward, we have been thinking about what Uri would want and that would be to be happy, to strive for greatness, and to dance our way through the hard times. We will forever cherish the memories we’ve shared and even though he is not with us, he will always be in our hearts. We love you Uri, that sky border doesn’t exist anymore so fly high, king.</em>
</p>








</section>
		
		
		
		
	</div>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                                                <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Jack Carter</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                                                <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Jack Carter</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                                                <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Jack Carter</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                                                <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Jack Carter</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                                                <!-- USER POST START -->
                        <div class="main-wraper">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img alt="" src="~/images/resources/user1.jpg">
                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </i>
                                                <ul>
                                                    <li>
                                                        <i class="icofont-pen-alt-1"></i>Edit Post
                                                        <span>Edit This Post within a Hour</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ban"></i>Hide Post
                                                        <span>Hide This Post</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-ui-delete"></i>Delete Post
                                                        <span>If inappropriate Post By Mistake</span>
                                                    </li>
                                                    <li>
                                                        <i class="icofont-flag"></i>Report
                                                        <span>Inappropriate content</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins><a title="" href="time-line.html">Jack Carter</a></ins>
                                        <span><i class="icofont-globe"></i> published: Sep,15 2020</span>
                                    </div>
                                    <div class="post-meta">
                                        <a href="post-detail.html" class="post-title">Supervision as a Personnel Development Device</a>
                                        <p>
                                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- USER POST END -->

                    </div>