@model GameModel


<form method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Url"></label>
        <input asp-for="Url" />
    </div>

    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>

    <div>
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription"></textarea>
    </div>

    <div>
        <label asp-for="RealeseDate"></label>
        <input asp-for="RealeseDate" id="datetime" class="form-control" type="text" />
    </div>


    <input type="submit" value="Create game" />

</form>